.navbar-nav.custom-navbar-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 15px;
    list-style: none;
    align-items: center;
    width: 80%;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 0px;
  }
  
  .navbar {
  
    border-bottom: 3px solid black;
    background-image: url();
  
  }
  
  
  .logo-image {
    width: 30%;
    height: auto;
  }
  
  .nav-link {
    font-size: 25px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold !important;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  
  .custom-image {
    height: 280px;
    width: 280px;
  }
  
  .paragraph {
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

.card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card {
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  .col-sm-6 {
    margin-left: 0; 
    width: 100%; 
    text-align: center;

  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.container{
    margin-top: 30px;
}
