.navbar-nav.custom-navbar-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 15px;
    list-style: none;
    align-items: center;
    width: 80%;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 0px;
  }
  
  .navbar {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .logo-image {
    width: 27%;
    height: auto;
  }
  
  .nav-link {
    font-size: 16px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold !important;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  
  .custom-image {
    height: 280px;
    width: 280px;
  }
  
  .paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  