<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mixxr {% endblock %} </title>
</head>
<body>
    <header>
        <nav class="my_nav">
            <ul>
                <li><a href ="/" >Home </a></li>
                <li><a href ="/cocktail" > Cocktail Meni </a></li>
                <li><a href ="/mocktail" >MockTail Menu </a></li>
                <li><a href ="/shooter" >Shooter Menu </a></li>
            </ul>
        </nav>
    </header>
</body>
</html>