{% extends 'base.html' %}

{% block title %} Cocktail - Mixxr {% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center my-5">Cocktail Menu</h1>
  <p class="paragraph">Welcome to our Cocktail Page! Here, you can explore our illustrious collection of cocktails that will delight your taste buds and elevate your spirits. Whether you're a fan of classic concoctions or adventurous mixology, we have a wide range of cocktails to suit every palate.</p>
  <a class="btn btn-dark mb-3" href="{% url 'cocktail_create' %}">Add New Cocktail</a>
  <div class="row">
    {% for cocktail in cocktails %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ cocktail.image }}" class="card-img-top custom-image" alt="{{ cocktail.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ cocktail.name }}</h5>
          <a href="{% url 'cocktail_detail' cocktail.pk %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
