{% extends 'base.html' %}
{% block content %}
<style>
    .drink-description{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    }
  .drink-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .drink-recipe {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  body{
    background-image: url('https://images.unsplash.com/photo-1536091734151-c373796a54a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHllbGxvdyUyMGFuZCUyMG9yYW5nZSUyMGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
        background-repeat: no-repeat;
  }
  
  </style>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{{shooter.image}}" class="card-img-top" alt="shooter_Image" />
        <div class="card-body">
          <h3 class="drink-name">{{shooter.name}}</h3>
          <p class="drink-description">{{shooter.description}}</p>
          <p class="drink-recipe">{{shooter.recipe}}</p>

          <div class="btn-group d-flex justify-content-between">
            <a href="{% url 'shooter_update' shooter.pk %}" class=" btn-icon btn-primary position-absolute bottom-0 start-0">
              <i class="fas fa-edit"></i> 🍷
            </a>
            <a href="{% url 'shooter_delete' shooter.pk %}" class=" btn-icon btn-danger position-absolute bottom-0 end-0">
              <i class="fas fa-trash-alt"></i> ❌ 
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
